<div class="about-main">
  <div class="about-pargragh">
  <h2>Tweet-YKZとは</h2>
    <ul>
      <li>YKZが提供するSNSサービスです。</li>
      <li>好きなことをつぶやいて楽しく使ってください。</li>
      <li>欲しい機能や気づいたことなどあれば投稿にてお聞かせください。</li>
      <br/>
      <li>※本サービスは個人情報を入力せずにご利用ください。</li>
    </ul>
  </div>
</div>
