<div class="about-main">
  <h2>Tweet-YKZとは</h2>
  <p>YKGが提供するSNSサービスです。</p>
  <p>どうぞ好きなことをつぶやいて楽しく使ってください。</p>
  <p>欲しい機能や気づいたことがあれば何でもお問い合わせフォームからお聞かせください。</p>
  <p>機能を順次拡張していきますので、お楽しみに。</p>

  <img class="about-img" src="/tweets.png">
</div>