<div class="about-main">
  <h2>Tweet-YKZとは</h2>
  <p>YKZが提供するSNSサービスです。</p>
  <p>好きなことをつぶやいて楽しく使ってください。</p>
  <p>欲しい機能や気づいたことなどあれば投稿にてお聞かせください。</p>
  <p>機能を順次拡張していきますので、お楽しみに。</p>

  <p>※本サービスはユーザー登録時の名前とメールアドレスを架空のものでご利用いだけます。個人情報は入力しないようにしてください。</p>

  <img class="about-img" src="/tweets.png">
</div>