<div class="main top-main">
  <div class="top-message">
    <h2>思いを言葉に</h2>
    <p>あなたの一日を残していこう</p>
    <p></p>
    <p>※本サービスはユーザー登録時の名前とメールアドレスを架空のものでご利用いだけます。個人情報は入力しないようにしてください。</p>
  </div>
</div>